@import '~normalize.css';
@import '~reset.css';
@import url('https://fonts.googleapis.com/css?family=Yantramanav');

/* INIT */

html {
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
    color: #4b4b4b;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/* VARIABLES */

:root {
    --navbar-width: 200px;
}

/* NAVBAR */

.navbar {
    margin: 0;
    padding: 0;
    width: var(--navbar-width);
    background-color: #dddddd;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: width 0.2s linear;
}

@media (max-width: 768px) {
    .navbar {
        width: 0;
    }

    .content {
        margin-left: 0;
    }
}

.navbar ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.navbar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.navbar li a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar li a.active:hover {
    background-color: #428442;
}

.navbar li a:hover:not(.active) {
    background-color: #41aad3;
    color: white;
}

.navbar__LogoDiv {
    display: flex;
    justify-content: center;
}

.navbar__Logo {
    max-height: 120px;
    transition: transform 0.3s linear;
}

.navbar__Logo:hover {
    transform: rotate(5deg);
}

.navbar__Menu {
    border-top: 1px solid rgba(84, 84, 84, 0.14);
    border-bottom: 1px solid rgba(84, 84, 84, 0.14);
    margin: 10px 0;
}

.navbar__currentbalanceDiv,
.navbar__portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    margin-top: 20px;
}

.navbar__currentbalanceDiv h2,
.navbar__portfolio h2 {
    font-size: 150%;
    font-weight: bolder;
}

.navbar__resetBtnDiv {
    display: flex;
    justify-content: center;
}

.navbar__currentbalanceDiv h2 {
    margin: 10px auto;
}

.navbar__loginDiv {
    width: var(--navbar-width);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    font-weight: bolder;
    flex-wrap: wrap;
}

.navbar__loginDiv .btn {
    margin-top: 10px;
    height: 50px;
    width: 100%;
}

.userPic {
    max-height: 60px;
    border-radius: 50%;
    margin-left: 10px;
}

/* CONTENT */

/* HEADER */

.headerDiv {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41aad3;
    color: white;
    font-size: 130%;
    font-weight: bolder;
}

.content {
    display: grid;
}

.main-container {
    display: grid;
}

.container {
    border: #dddddd solid 1px;
    margin: 10px;
    min-height: 200px;
    box-shadow: 1px 1px #dddddd;
}

.container.chart {
    min-height: 350px;
}

.container .container__header {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    font-weight: bolder;

    color: white;
    background-color: #41aad3;
    box-shadow: 1px 0 rgba(74, 208, 255, 0.44);
}

.container__Content {
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.container__Content .label {
    margin-top: 10px;
}

.container__Content .btn {
    margin-top: 20px;
}

.container__Content table {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 120%;
}

.container__Content thead {
    border-bottom: 1px solid #dddddd;
}

.container__Content th, td {
    padding: 10px;
}

@media (min-width: 768px) {
    .content {
        margin-left: var(--navbar-width);
    }
}

/* COMPONENTS */

.btn {
    padding: 5px 10px;
    min-width: 100px;
    cursor: pointer;

    background-color: rgba(255, 65, 54, 0.91);
    border: none;
    color: white;
    border-radius: 3%;
    transition: background-color 0.2s linear;
}

.btn:hover {
    background-color: rgb(200, 68, 66);
}

.btn-green {
    background-color: #2ECC40;
}

.btn-green:hover {
    background-color: #2a9f38;
}

.btn[disabled]:hover {
    cursor: not-allowed;
}

/* GRID */

.row {
    display: flex;
    margin: 10px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12,
.col {
    width: 100%;
}

/* ANT OVERLOAD */

.ant-input-number {
    width: 100%;
}

/* HISTORY TABLE*/

span.Purchase {
    color: #389e0d;
}
span.Sell {
    color: #cf1322;
}
span.Reset {
    color: #0050b3;
}

/* SPINNER ICON */

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}